<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <% for (post of allpost) {  %>
                    <% console.log(post.post) %>
                    <article>
                        <h4> <%= post.title %></h4>
                        <h5><%= post.post %></h5> 
                        <img src="<%=post.image%>">
                    </article>
                <% } %>
            </div>
            
        </main>
    </body>
</html>