<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <main>
            <div>
                <form action="/posts" method="post" onsubmit="console.log('Submitting form...')">
                    <fieldset>
                        <legend> Create new post</legend>
                        <label>
                            title:<input type="text" name="title" placeholder="enter title"/>
                        </label>
                        <label>
                            post:<input type="text" name="post" placeholder="..."/>
                        </label>
                        <label>
                            image:<input type="text" name="img" placeholder="img link"/>
                        </label>
                    </fieldset>
                    <input type="submit" value="submit" />
                </form>
            </div>
        </main>
    </body>
</html>